html::-webkit-scrollbar {
  width: 12px;
  height: 8px;
}

html::-webkit-scrollbar-thumb {
  background-color: #94949c6e;
  border-radius: 4px;
}

body {
  /* background-color: rgba(232, 232, 232, 0.474); */
  background: linear-gradient(
    to bottom,
    rgba(255, 238, 238, 0.2),
    rgba(215, 238, 255, 0.2)
  );
  display: flex;
  flex-direction: column;
  min-height: 97vh;
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

header {
  display: flex;
  height: fit-content;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 2rem 0.5rem;
  border-radius: 10px;
  padding: 1rem 2rem;
}

main {
  min-height: 58vh;
  border-radius: 10px;
  padding: 1.5rem 1rem;
  margin: 0 2rem;
  display: flex;
  flex-direction: column;
}

footer {
  text-align: center;
  margin: 1rem;
  bottom: 0;
}

a {
  text-decoration: none;
  color: black;
}

h2 {
  color: white;
  font-size: clamp(0.5em, 2rem, 5vw);
}

p {
  font-size: clamp(0.5rem, 5vw, 1.5rem);
  text-align: center;
  color: white;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
}

.profilePic {
  min-width: 3rem;
  width: 6vw;
}

.menu {
  min-width: 3rem;
  width: 5vw;
  object-fit: contain;
  cursor: pointer;
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 4rem;
}

.webCard:hover {
  scale: 1.02;
}

.webCard {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  justify-content: space-between;
  padding-bottom: 65%;
  cursor: pointer;
  transition-duration: 200ms;
}

.webCard * {
  margin: 0;
}

.webCard::before {
  content: "";
  position: absolute;
  top: -7px;
  right: -7px;
  bottom: -7px;
  left: -7px;
  z-index: -1;
  background: linear-gradient(
    to bottom,
    rgba(240, 240, 240, 0.394),
    rgba(190, 228, 255, 0.361)
  );
  border-radius: 5px;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.402);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 450ms ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

.overlay:hover {
  opacity: 1;
}

.overlay * {
  transition-duration: 200ms;
}

.overlay > :hover {
  scale: 1.02;
}

.githubLink {
  background-color: rgb(232, 232, 232);
  padding: 0.5rem 1.4rem;
  border-radius: 10px;
  font-size: clamp(1rem, 1.5vw, 1.5rem);
  font-weight: 700;
  color: black;
}
